[user]
	name = Joe Corcoran
	email = joecorcoran@gmail.com
[core]
	excludesfile = /Users/joe/.gitignore_global
[github]
	user = joecorcoran
[alias]
	l = "!git --no-pager log --color -n 5 --pretty=format:\"%Cgreen%h %C(bold yellow)%ar %C(bold blue)%an %Creset%s\""
	p = "pull origin master"
	u = "push origin master"
	o = "rebase -i HEAD~2"
	g = "log --all --graph --oneline --color"
[merge]
	tool = p4merge
[diff]
	tool = p4diff
[branch]
	autosetuprebase = always
[push]
	default = upstream
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[color]
	ui = true
[remote "origin"]
	fetch = +refs/pull/*/head:refs/remotes/origin/pr/*
